env/
utils/
mcore_*
__pycache__/
examples/include/
*.egg-info/

*.swp
*.so
*.out
*.gdb_history

examples/test_openssl_md5
examples/test_openssl_bnsqr
examples/test_tweetnacl_scalarmult
examples/test_monocypher_eddsa
