capstone==4.0.1
cffi==1.11.5
cytoolz==0.9.0.1
eth-hash==0.2.0
eth-typing==2.0.0
eth-utils==1.4.1
future==0.17.1
manticore==0.2.4
pkg-resources==0.0.0
ply==3.11
prettytable==0.7.2
pycparser==2.19
pyelftools==0.25
pyevmasm==0.2.0
pysha3==1.0.2
PyYAML==3.13
rlp==1.1.0
toolz==0.9.0
unicorn==1.0.1
z3-solver==4.8.0.0.post1
